<div class="body-container"
  data-controller="spelling-game"
  data-spelling-game-words-array-value="<%= @words_array_spelling.to_json %>"
  data-spelling-game-correct-sound-value="<%= audio_path("success.wav") %>"
  data-spelling-game-incorrect-sound-value="<%= audio_path("fail.wav") %>">
    <h1 class="h1-custom">Spelling Mission</h1>
    <form class="custom-form" data-action="submit->spelling-game#correctSpelling">
      <input type="text" id="wordInput" placeholder="spell the word..." data-spelling-game-target="input">
      <input type="submit" class="spelling-guess">
    </form>
      <br>
      <p id="displayHint">Hint :</p>
      <button class="custom-button" data-action="click->spelling-game#textToSpeech">
      Pronounce<i class="fa-solid fa-volume-up">
      </i>
      </button>
      <div data-spelling-game-target="results" class="mt-5">
      </div>
</div>
