// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2C86C7;
$yellow: #FCD74A;
$orange: #E67E22;
$green: #149e60;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-gray: #7F7F7F;
