.submitted-text {
    border: 10px solid;
    border-radius: 50px;
    border-color: $yellow;
    background-color: rgb(255, 255, 243);
}
.btn-outline-danger {
    background-color: rgba(253, 210, 210, 0.493);
}
.btn-outline-danger:hover {
    color: white;
}