.submitted-text {
    border: 10px solid;
    border-radius: 50px;
    border-color: $yellow;
    background-color: rgb(255, 255, 243);
}
.btn-outline-danger {
    background-color: rgba(253, 210, 210, 0.493);
    transition: transform 1s ease, background-color 1s ease;
}
.btn-outline-warning {
    background-color: rgba(255, 255, 179, 0.249);
    transition: transform 1s ease;
}
.btn-outline-info {
    background-color: rgba(255, 255, 179, 0.249);
    transition: transform 1s ease;
}
.btn-outline-danger:hover, .btn-outline-warning:hover, .btn-outline-info:hover {
    color: white;
    transform: scale(1.25);
}
.embossed {
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 15px 15px 30px #dbdbdb,
               -15px -15px 30px #ffffff;
    transition: background 1s ease;
}
.embossed:hover {
    background: rgba(205, 205, 205, 0.369);
}
.btn-close {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.embossed:hover .btn-close {
    opacity: 1;
    visibility: visible;
}
.double-strike {
    text-decoration: line-through;
    text-decoration-style: double;
    text-decoration-color: rgba(205, 53, 53, 0.558);
    text-decoration-thickness: 2px;
}
.bg-correct {
    background-color: rgb(33, 147, 241);
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
}
.card-show-title {
    color: $dark-gray;
}
.card-show-sub {
    text-decoration: underline;
    text-decoration-color: rgba(240, 91, 91, 0.882);
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
}
/* From Uiverse.io by shah1345 */ 
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: $blue;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid $blue;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: $blue;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: $blue;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  