<%# RENDER SCORE PART%>
<h4 class="bold-title mt-3 pt-3">SCORE</h4>
<div class="d-flex justify-content-center align-items-center display-4">
  <lord-icon
    src="https://cdn.lordicon.com/xjronrda.json"
    trigger="hover"
    colors="primary:#fcd74a,secondary:#3a3347,tertiary:#ebe6ef"
    style="width:100px;height:100px">
  </lord-icon>
  <%= @submission.score  %>%
</div>
<%# RENDER ALL ALERTS PART%>
<h4 class="bold-title red border-top mt-3 pt-3">ALL ALERTS</h4>
<div class="d-flex flex-column justify-content-center align-items-center mt-3">
  <%= render "all_alerts" %>
</div>
<%# RENDER READABILITY PART%>
<h4 class="bold-title blue border-top mt-3 pt-3">READABILITY</h4>
<div class="d-flex flex-column justify-content-center align-items-center mt-3">
  <%= render "readability" %>
</div>
<%# RENDER GRAMMAR PART%>
<h4 class="bold-title green border-top mt-3 pt-3">GRAMMAR TAGS</h4>
<div class="d-flex flex-column justify-content-center align-items-center my-3">
  <%= render "grammar" %>
</div>
