<p class="bold-title blue mt-3 pt-3">READABILITY</p>
<div class="div d-flex flex-column justify-content-center align-items-center">
  <%= render "readability" %>
</div>
<p class="bold-title red border-top mt-3 pt-3">ALL ALERTS</p>
<div class="div d-flex flex-column justify-content-center align-items-center">
  <%# ERRORS DIV %>
  <% if @ai_response && @ai_response["errors"].empty? %>
    <p class="text-muted">No errors found</p>
  <% else %>
    <%# ERRORS COUNT %>
    <% error_counts = @ai_response["errors"].each_with_object(Hash.new(0)) do |error, counts| %>
      <% counts[error["type"]] += 1 %>
    <% end %>
    <%# Render buttons with error counts %>
    <% error_counts.each do |error_type, count| %>
      <button type="button" class="btn btn-outline-danger rounded-5 py-1 mb-2 d-flex justify-content-between align-items-center" style="min-width: 200px;">
        <span><%= error_type %></span>
        <span class="badge bg-danger"><%= count %></span>
      </button>
    <% end %>
  <% end %>
</div>
