<p><span class="bold-title">TEXTBOOK:</span> <%= @textbook.name %></p>
<p><span class="bold-title">UNIT:</span> <%= @submission.challenge.unit.name %></p>
<p><span class="bold-title">LEVEL:</span> <%= @textbook.words.first.grade %></p>