<h1>Welcome to the Selection page</h1>
<%= link_to "Spelling Game",edit_student_submission_game_path(@submission, @submission.games.find_by(game_type: "spelling")), class: 'btn btn-primary' %>
<%= link_to "Vocabulay Game",edit_student_submission_game_path(@submission, @submission.games.find_by(game_type: "vocab")), class: 'btn btn-primary' %>
<%= link_to "Grammar Game",edit_student_submission_game_path(@submission, @submission.games.find_by(game_type: "grammar")), class: 'btn btn-primary' %>