<div class="container-fluid p-2 bg-white mt-2 border border-light border-5 rounded-5" style="width:90%; min-height:80vh;">
  <div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div class="col-md-8 col-sm-12 ms-4 dark-gray">
        <h1 style="font-size: 3.5rem;">SENTEN<span class="yellow">SENSEI</span></h1>
      </div>
      <div class="col-md-3 col-sm-6 align-self-center me-3"><%= link_to "Start Missions!", selection_student_submission_path, class: 'btn button2 w-100', type: 'button' %></div>
    </div>
    <div class="col-11 d-flex gap-3" data-controller="card-show">
      <div class="col-9 d-flex flex-column align-items-center">
        <%# GRAMMAR COLUMN %>
        <div class="card my-5 submitted-text text-center">
          <div class="card-body">
            <div class="card-title display-6">
              <i class="fa-solid fa-quote-left fa-2x fa-pull-left dark-gray"></i>
              <%= @submission.content %>
            </div>
          </div>
        </div>
        <div class="col-11 mb-5" data-card-show-target="cardContainer">
          <%#THIS IS WHERE ERROR CARDS GET INPUTED WHEN BUTTONS ARE CLICKED%>
          <%= render "card_show" %>
        </div>
      </div>
      <div class="col-3 mt-2">
        <%# ERROR COLUMN %>
        <%= render "errors" %>
      </div>
    </div>
  </div>
</div>
