#challenge-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin-top: 20px;
  width: 100%;
}

#challenge-main-content {
  width: 70%;
}

#challenge-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#challenge-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

#challenge-info-box {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 40px;
}

#challenge-info-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#challenge-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

#challenge-features-list li {
  font-size: 1rem;
}

#challenge-submissions-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#challenge-submission {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

#challenge-submission summary {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

#challenge-submission p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #666;
}

#challenge-sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#challenge-profile-picture {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 20px;
}

#challenge-back-button, #challenge-edit-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

#challenge-back-button {
  background-color: #000;
  color: #fff;
  border: none;
}

#challenge-edit-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
