.red-pill {
    height: 10px;
    width: 10px;
    background-color: #dc5f5f;
    border-radius: 50%;
    display: inline-block;
}
.green-pill {
    height: 10px;
    width: 10px;
    background-color: #5ed391;
    border-radius: 50%;
    display: inline-block;
}
.yellow-pill {
    height: 10px;
    width: 10px;
    background-color: #f8e170;
    border-radius: 50%;
    display: inline-block;
}
.gray-pill {
    height: 10px;
    width: 10px;
    background-color: #9e9b9b;
    border-radius: 50%;
    display: inline-block;
}