<footer class="mt-auto overflow-hidden">
  <div class="container">
    <div class="row mb-4 mt-2 gx-4">
      <div class="col-12 d-flex align-items-start gap-4">
        <div class="col-md-3 col-12">
          <a href="root_path" class="">
            <img alt="bunpofy" class="img-fluid" src="/assets/bunpofy_logo-31f746525998cb6f1d4a92eada1067d79247c6f8296525ba1312d1b549e3088d.PNG">
          </a>
        </div>
        <div class="col-md-3 col-12">
          <h6>Resources</h6>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-12">
          <h6>Information</h6>
          <p class="text-white">
            <a href="tel:305-240-9671">305-240-9671</a>
          </p>
          <p class="text-white">
            <a href="mailto:info@company.com">info@bunpofy.com</a>
          </p>
        </div>
        <div class="col-md-3 col-12">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            English
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Thai</button></li>
            <li><button class="dropdown-item" type="button">Myanmar</button></li>
            <li><button class="dropdown-item" type="button">Arabic</button></li>
          </ul>
          <p class="mt-2">
            Copyright © 2024 Bunpofy. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
