<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
  <div class="container">
    <div class="row">
      <!-- Left Column with Text and Form -->
      <div class="col-lg-8 col-12">
        <h1 class="text-white text-center">MASTER THE ART OF PERFECT ENGLISH SENTENCES</h1>
        <h6 class="text-center">The ninja way!</h6>
        <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
          <div class="input-group input-group-lg">
            <input name="keyword" type="search" class="form-control" id="keyword" aria-label="Search">
            <button type="submit" class="yellow-gradient text-white">Fix It</button>
          </div>
        </form>
      </div>
      <!-- Right Column with Image -->
      <div class="col-lg-4 col-12">
        <div>
          <%= image_tag "slider_right.jpg", style: "width: 400px; height: auto;" %>
        </div>
      </div>
    </div>
  </div>
</section>
<h2 class= "text-center">Speed Up Your Learning Pace With A Game</h2>
<div class="card-group">
  <div class="card">
  <%= image_tag "grammer.jpg", height: "300" %>
    <div class="card-body">
      <h5 class="card-title text-center">Grammer</h5>
      <p class="text-center">The backbone of language, ensuring clear and effective communication.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "vocabulary.jpg", height: "300"  %>
    <div class="card-body">
      <h5 class="card-title text-center">Vocabulary</h5>
      <p class="text-center">Expands your expressive range, enabling precise and nuanced</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "spelling.jpg", height: "300"  %>
    <div class="card-body">
      <h5 class="card-title text-center">Spelling</h5>
      <p class="text-center">The foundation of written language, allowing accurate and confident expression.</p>
    </div>
  </div>
</div>
