<div class="container w-100">
  <div class="d-flex flex-column justify-content-start align-items-center title-main" style="min-height: 90vh; width: 100%;">
    <h1 class="text-center roboto-bold display-1">MASTER THE ART OF PERFECT ENGLISH SENTENCES</h1>
    <h6 class="text-white">The ninja way!</h6>
  </div>
</div>
<h2 class= "text-center">Speed Up Your Learning Pace With A Game</h2>
<div class="card-group mb-5">
  <div class="card">
    <%= image_tag "grammer.jpg", height: "300" %>
    <div class="card-body">
      <h5 class="card-title text-center">Grammer</h5>
      <p class="text-center">The backbone of language, ensuring clear and effective communication.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "vocabulary.jpg", height: "300"  %>
    <div class="card-body">
      <h5 class="card-title text-center">Vocabulary</h5>
      <p class="text-center">Expands your expressive range, enabling precise and nuanced</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "spelling.jpg", height: "300"  %>
    <div class="card-body">
      <h5 class="card-title text-center">Spelling</h5>
      <p class="text-center">The foundation of written language, allowing accurate and confident expression.</p>
    </div>
  </div>
</div>
