.body-container {
  background-color: black;
}
.h1-custom {
  color: white;
  text-align: center;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  font-family: 'Lobster', cursive;
}

.p-custom {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: white;
}
