.no-margin-p p {
	margin-bottom: 0;
}

// Experience bar CSS

.student-challenges-profile-experience-bar-container {
	position: relative;
	max-width: 350px;
	width: 100%;
	border-radius: 7px;
}

.student-challenges-profile-experience-bar-container
	.student-challenges-profile-experience-bar-skill-box {
	width: 100%;
	margin-bottom: 15px;
}

.student-challenges-profile-experience-bar-skill-box
	.student-challenges-profile-experience-bar-title {
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: rgb(226, 226, 226);
}

.student-challenges-profile-experience-bar-skill-box
	.student-challenges-profile-experience-bar-skill-bar {
	height: 8px;
	width: 100%;
	border-radius: 6px;
	margin-top: 6px;
	background: rgba(236, 236, 236, 0.1);
}

.student-challenges-profile-experience-bar-skill-bar
	.student-challenges-profile-experience-bar-skill-per {
	position: relative;
	display: block;
	height: 100%;
	width: 90%;
	border-radius: 6px;
	background: rgb(226, 226, 226);
	animation: progress 0.4s ease-in-out forwards;
	opacity: 0;
}

.student-challenges-profile-experience-bar-skill-per.student-challenges-profile-experience-bar-html {
	animation-delay: 0.1s;
}

@keyframes progress {
	0% {
		width: 0;
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

.student-challenges-profile-experience-bar-skill-per
	.student-challenges-profile-experience-bar-tooltip {
	position: absolute;
	right: -14px;
	top: -28px;
	font-size: 8px;
	font-weight: 500;
	color: rgb(0, 0, 0);
	font-weight: bold;
	padding: 2px 6px;
	border-radius: 3px;
	background: rgb(226, 226, 226);
	z-index: 1;
}

.student-challenges-profile-experience-bar-tooltip::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -2px;
	height: 10px;
	width: 10px;
	z-index: -1;
	background-color: rgb(226, 226, 226);
	transform: translateX(-50%) rotate(45deg);
}

//

.student-challenges-modal-content {
	background-color: rgb(197, 196, 196) !important;
}

.student-challenges-ranking-pentagon {
	background-image: image-url(blue_gem);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.student-challenges-profile-level-pentagon {
	background-image: image-url(blue_gem);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.student-challenges-ranking-pentagon-rank-1 {
	background-image: image-url(gold_gem);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.student-challenges-ranking-level {
	font-size: 12px;
	color: black;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

.student-challenges-ranking-experience-number {
	font-size: 14px;
	color: white;
}

.student-challenges-ranking-card-container {
	margin: 30px 15px 15px 15px !important;
	height: 460px;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.student-challenges-ranking-card-title {
	background-color: #2e003e;
	animation: pulse 2s infinite;
	width: 12vw;
	height: 40px;
	background-size: cover;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -20px;
	border-radius: 20px;
	overflow: hidden;
}

@keyframes pulse {
	0% {
		filter: brightness(1);
	}
	50% {
		filter: brightness(1.5);
	}
	100% {
		filter: brightness(1);
	}
}

.student-challenges-ranking-card-title p {
	z-index: 2;
	font-size: 20px;
	color: #00ffff;
}

.student-challenge-raking-card-photo {
	border-radius: 50%;
}

.student-challenges-ranking-container {
	margin: 0px 0px 0px 0px;
	border-radius: 20px;
	background-color: rgba(21, 20, 20, 0.95);
	box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 15px;
	position: relative;
	overflow: visible;
	width: 22.1vw;
	height: 500px;
}

.student-challenges-ranking-card {
	width: 100%;
	height: 50px;
	border-radius: 30px;
	background-color: rgb(36, 35, 35);
}

.student-challenges-ranking-card-current-user {
	width: 100%;
	height: 50px;
	border-radius: 30px;
	background-color: #400056;
}

.student-challenges-ranking-card-name {
	width: auto;
	height: auto;
	font-size: 14px;
	color: white;
}

.student-challenges-card-container {
	margin: 20px 0px 0px 0px;
	display: flex;
	flex-grow: 1;
	justify-content: flex-start;
	gap: 1.85vw;
}

.student-challenges-card {
	width: 22.1vw;
	height: 500px;
	margin: 0px 0px 0px 0px;
	border-radius: 20px;
	overflow: hidden;
	background-color: rgba(21, 20, 20, 0.95);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
	position: relative;
}

.student-challenges-card:hover {
	box-shadow: 0px 8px 20px rgba(167, 167, 167, 0.9);
}

.student-challenges-card-challenge-notification {
	position: absolute;
	right: 10px;
	top: 10px;
	animation: grow-shrink-little 1s ease-in-out infinite;
}

@keyframes grow-shrink-little {
	0%,
	100% {
		transform: scale(1); /* Normal size */
	}
	50% {
		transform: scale(1.1); /* Slightly bigger */
	}
}

.student-challenges-card-title {
	font-size: 14px;
	height: 42px;
}

.student-challenges-card-feedback {
	cursor: pointer;
	transition: transform 0.3s ease;
	height: 42px;
	position: relative;
}

.student-challenges-card-feedback:hover {
	transform: scale(1.05);
}

.student-challenges-card-feedback-notification {
	position: absolute;
	animation: grow-shrink 1s ease-in-out infinite;
	top: 2px;
	right: 0px;
}

@keyframes grow-shrink {
	0%,
	100% {
		transform: scale(1); /* Normal size */
	}
	50% {
		transform: scale(1.3); /* Slightly bigger */
	}
}

.student-challenges-card-feedback-disabled {
	transition: transform 0.3s ease, background-color 0.3s ease,
		box-shadow 0.3s ease;
	opacity: 0.4;
	filter: grayscale(100%);
	box-shadow: none;
	height: 42px;
}

.student-challenges-card-experience {
	font-size: 14px;
}

.student-challenges-card-options {
	font-size: 14px;
	transition: transform 0.3s ease;
	border: 1px solid black;
	border-radius: 20px;
	background-color: rgb(36, 35, 35);
}

.student-challenges-card-options:hover {
	transform: scale(1.05);
}

.student-challenges-card-options-disabled {
	font-size: 14px;
	transition: transform 0.3s ease, background-color 0.3s ease,
		box-shadow 0.3s ease;
	border: 1px solid #1c1c1c;
	border-radius: 20px;
	background-color: #1c1c1c;
	color: rgba(255, 255, 255, 0.3); /* Lighter text */
	opacity: 0.4; /* Make the button slightly transparent */
	filter: grayscale(100%); /* Apply grayscale to the button */
	box-shadow: none; /* Remove shadow */
}

.student-challenges-card-options-disabled:hover {
	background-color: rgb(30, 30, 30); /* Slightly darker background on hover */
	transform: none; /* Disable transform effects */
}

.student-challenges-card-date {
	font-size: 12px;
	color: gray;
	width: 150px;
}

.student-challenges-card-image {
	object-fit: cover;
}

.student-challenges-challenges-container {
	width: 95%;
}

.student-challenges-profile-container {
	height: 180px;
	width: 95%;
	border-radius: 20px;
	background-color: gray;
	margin-bottom: 15px;
	position: relative;
	overflow: visible;
	background-image: image-url(student_challenges_profile_background3);
	background-size: cover;
	background-position: center;
}

.student-challenges-profile-bar {
	background-color: rgba(21, 20, 20, 0.95);
	height: 90px;
	width: 102%;
	border-radius: 25px;
	position: absolute; /* Use absolute positioning */
	bottom: -5px; /* Position it slightly below the bottom of the container */
	left: -1%;
}

.student-challenges-profile-photo {
	width: 100px;
	height: 100px;
	background-color: black;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
	border: 5px solid;
	filter: drop-shadow(0px 0px 10px rgb(55, 48, 175)) invert(0%);
}

.student-challenge-profile-photo-cl {
	object-fit: cover;
}

.student-challenges-profile-box {
	height: 70px;
	width: 200px;
	border-right: 1px solid gray;
}

.student-challenges-profile-box-title {
	font-size: 14px;
	color: gray;
	text-align: center;
	width: 140px;
}

.student-challenges-profile-box-last {
	height: 85px;
	width: 200px;
}

.student-challenges-card-feedback-name {
	font-size: 34px !important;
}

.student-challenges-card-feedback-content {
	font-size: 20px;
}

.student-challenges-card-feedback-content-conteiner {
	min-height: 200px !important;
}

.student-challenges-card-feedback-btn {
	border-radius: 5px !important;
	background-color: rgb(22, 22, 22) !important;
}
