a {
	text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0px;
	margin-bottom: 0px;
}

ul {
	margin-bottom: 0px;
}

/*
---------------------------------------------
global styles
---------------------------------------------
*/
html,
body {
	background: #fff;
	font-family: "Roboto", sans-serif;
}
