// .hero-section {
//   // background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
//   background-image: linear-gradient(15deg, #0033cc 0%, #66ccff 50%);
//   position: relative;
//   overflow: hidden;
//   padding-top: 150px;
//   padding-bottom: 150px;
// }
.hero-section {
  background-image: linear-gradient(
    180deg,
    hsl(205deg, 64%, 48%) 0%,
    hsl(205deg, 61%, 72%) 25%,
    hsl(0deg, 0%, 100%) 70%
  );
  width: 100%;
  height: 100vh;
}
.hero-section .input-group {
  background-color: var(--white-color);
  border-radius: var(--border-radius-large);
  padding: 10px 15px;
}

.hero-section .input-group-text {
  background-color: transparent;
  border: 0;
}

.hero-section input[type="search"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hero-section button[type="submit"] {
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--border-radius-large) !important;
  color: var(--white-color);
  max-width: 150px;
}
.btn.yellow-gradient {
  background: linear-gradient(105deg, rgba(255, 225, 0, 1) 0%, rgba(255, 180, 0, 1) 100%);
  color: #fff; /* White text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Adjust padding for size */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background 0.3s ease; /* Smooth transition effect */
}

.btn.yellow-gradient:hover {
  background: linear-gradient(105deg, rgba(255, 180, 0, 1) 0%, rgba(255, 150, 0, 1) 100%);
}
