.gradient-button a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: rgb(255, 213, 0);
  background: linear-gradient(105deg, rgba(255, 225, 0, 1) 0%, rgba(255, 180, 0, 1) 100%);
  text-decoration: none;
  border-radius: 5px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo-container {
  flex: 1;
}

.nav-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
