@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Carter+One&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Carter+One&family=Lexend:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "teacher/challenges/index";
@import "teacher/challenges/show";
@import "components/body_components";

// Games CSS partials
@import "games/index";
@import "games/grammar";

// Student Challenges CSS
@import "student/challenges/index";
@import "student/index.scss";


//GLOBAL CLASSES .teacher .student .guest
body {
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
  background-color: white;
  background-image: linear-gradient(
    180deg,
    hsl(205, 64%, 48%) 0%,
    hsl(205, 64%, 48%) 7%,
    hsl(213, 47%, 81%) 27%,
    hsl(0, 0%, 100%) 58%,
    hsl(0, 0%, 100%) 99%
  );
  background-repeat: no-repeat;
  background-size: 100% 150vh;
  cursor: url('logo/cursor.png'), auto;
}
.navbar {
	z-index: 10;
}
h1 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
h2{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h3, h4, h5 {
  font-family: "Lexend", sans-serif;
}
.bold-title{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.yellow {
  color: $yellow;
}
.dark-gray {
  color: $dark-gray;
}
.red {
  color: $red;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
.pale-red {
  color: rgba(255, 110, 110, 0.786);
}
.text-gray {
  color: rgb(161, 161, 161);
}
.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  font-style: normal;
}
.btn-yellow {
  color: white;
  background-color: $yellow;
  padding: 10px 20px;
  border-radius: 50rem;
  transition: background-color 1s ease;
}
.btn-yellow:hover {
  color: black;
}