@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Carter+One&family=Lexend:wght@100..900&display=swap');
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "teacher/challenges/index";
@import "teacher/challenges/show";
@import "components/body_components";

// Games CSS partials
@import "games/index";
@import "games/grammar";


//GLOBAL CLASSES .teacher .student .guest
body {
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
  background-image: linear-gradient(
    180deg,
    hsl(205deg, 64%, 48%) 0%,
    hsl(205deg, 61%, 72%) 25%,
    hsl(0deg, 0%, 100%) 70%
  );
  min-height: 100vh;
}
h1 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
h2{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.bold-title{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.yellow {
  color: $yellow;
}
.dark-gray {
  color: $dark-gray;
}
.red {
  color: $red;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
