<h1>Teacher::Feedbacks#edit</h1>
<p>Find me in app/views/teacher/feedbacks/id/edit.html.erb</p>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Give your little ninja a feedback:</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @feedback do |f| %>
          <%= f.input :content %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>